modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5003
externalPort = 8080

[[ports]]
localPort = 33491
externalPort = 4200

[[ports]]
localPort = 34353
externalPort = 5173

[[ports]]
localPort = 34419
externalPort = 6000

[[ports]]
localPort = 35795
externalPort = 9000

[[ports]]
localPort = 35957
externalPort = 3000

[[ports]]
localPort = 37549
externalPort = 6800

[[ports]]
localPort = 38073
externalPort = 5000

[[ports]]
localPort = 39013
externalPort = 3001

[[ports]]
localPort = 39263
externalPort = 8099

[[ports]]
localPort = 39299
externalPort = 8081

[[ports]]
localPort = 43663
externalPort = 8000

[[ports]]
localPort = 45107
externalPort = 3002

[[ports]]
localPort = 45631
externalPort = 3003

[deployment]
deploymentTarget = "vm"
run = ["npm", "start"]
build = ["npm", "run", "build"]
